*, *::after, *::before { box-sizing: border-box;}

body{
    text-align: center;
    background-image: url(../imagens/retro-g88f817185_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#parceria{
    background-color: rgba(95, 106, 156, 0.568);
    margin: auto;
    width: 80%;
    padding: 140px;
    
    font-family: 'Times New Roman', Times, serif;
    border-radius: 90%;
}

img{max-width: 100%;}

h1{
    text-align: center;
    color: brown;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: black 5px 5px 6px;
}

h2{
    text-align: center;
    color: brown;
    text-shadow: black 5px 5px 6px;
}

p{
    color: rgb(0, 255, 0);
    line-height: 0.5;
}

a{ color: rgb(236, 9, 9);}

.ajuste{
    text-align: left;
    color: rgb(0, 255, 0);
}